@page "/reciepie/create"
@page "/reciepie/edit/{id:int}"

@inject IReciepieService ReciepieService

<h3>ReciepieUpsert</h3>

@code {
    [Parameter]
    public int? Id { get; set; }

    //private 
}
